
$font-family: 'Roboto Condensed', sans-serif;
$color-primary: #273643;



/* Global */

body {
    background: #F3F3F4;
    color: $color-primary;
}


/* Custom */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}
a {
    color: $color-primary;
    outline: none;
}
a:hover {
    color: #000;
}


/* Buttons */
.btn-primary, .btn-primary:hover {
    background: $color-primary;
    border-color: $color-primary;
}

